.<%= creatingComponentName %> {

    // generator-simple-bem @import elements:start
    // generator-simple-bem @import elements:end

    // generator-simple-bem @import modifiers:start
    // generator-simple-bem @import modifiers:end
}