$base-color: #333;
$white: #fff;
$black: #000;
$black--light: #63697c;
$gray: #f4f6f8;
$gray--dark: #d2d4d9;
$gray--darker: #ced0d5;
$gray--light: #f9f9fb;
$gray--lighter: #f3f4f8;
$blue: #009bf5;
$blue--dark: #0090d8;
$yellow: #ffd500;
$yellow--dark: #e0b500;
$red: #ff3344;
$green: #44ab11;
$deep-sky-blue: #1086f2;
$azure: #009bf5;
$white-two: #fefefe;
$cerulean-blue: #0077f6;
$dodger-blue: #34b5ff;
$dark: #34b5ff;
$text--gray: #878787;